body{
  
  background: linear-gradient(to bottom, #0f3719 0%, #14410f 25%, #063a08 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  

  color: #e2e8f0; 
  font-family: sans-serif;

}

@font-face {
    font-family: caveat;
    src: url(fonts/Caveat-VariableFont_wght.ttf);
}

header{
    font-family:caveat;
    font-size: 6.5em;
    font-weight:1000;
    text-align: center;
    margin-top: 30px;
    -webkit-text-stroke:2px black;
}

#gameicon{
    width: 100px;
    position: relative;
    transform: translateY(15px);
}

#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

#box button{
    width:250px ;
    font-size: 2em;
    margin: 8px;
    cursor: pointer;
    border-radius: 10px;
    background-color: hsl(0, 0%, 0%);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: aliceblue;
    padding: 7px;
}


#box button:hover{
    background-color: hsl(0, 0%, 31%);
}


#quitbut:hover{
    color:transparent;
    position:relative;
    
}


#quitbut:hover::after{
    content:"NAIVE";
    color:red;
    position:absolute;
    display: flex;
    top:0;
    left:60px;
}


#rulecard{
    width: 350px;
    height: 500px;
    border:3px;
    border-style: solid;
    overflow: auto;
    margin-left: 200px ;
    margin-top: 160px;
    padding: 7px;
    display:none;
}


#gamecard{
    
    display: flex;
    flex-direction: column;
    font-size: 3em;
    text-align: center;
    margin-top: 0px;
    align-items:center ;



}

#dealer{
    background-color: rgb(210, 40, 40);
}

#you{
    background-color: rgb(17, 143, 17);
    width: 200px;

}



#gamebut{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px
}


#gamebut button{
    font-size: 1.6em;
    border-radius: 7px;
    background-color:rgb(197, 170, 119);
}

#gamebut button:hover{
    background-color: rgb(115, 90, 59);
}



#gameresult{
    background-color:rgb(230, 230, 49);
    font-size: 3em;
    display: flex;
    width: max-content;
    position: fixed;
    top:50%;
    right:100px;
    color:black;
    opacity: 100%;
}



.hidden{
    display: none;
}


.dim{
    opacity: 20%;
    
}


#betbox{
    border-style: solid;
    width: 300px;
    position: fixed;
    top:40%;
    padding: 10px;
    left: 15%;
    font-size: 2em;
    border-width: 8px;
    border-color: rgb(0, 0, 0);
    border-radius:5px;
    color:black
}

#betbox p{
    font-weight: 500;
}


#betbut{

    justify-content: center;
    display: flex;
    gap:5px;
    
}

#betbut button{
    font-size: 0.7em;
    border:none;
    border-radius: 5px;
    font-weight: 500;
}


#hun{
    background-color: rgba(227, 225, 225, 0.774);
}

#twohun{
    background-color: rgb(188, 70, 70);
}

#fivehun{
    background-color: aqua;
}

#deal{
    background-color: black;
    color: white;
}

#hun:hover{
    background-color: rgb(109, 108, 108);
}

#twohun:hover{
    background-color: rgba(143, 26, 26, 0.74);
}

#fivehun:hover{
    background-color: rgba(10, 186, 186, 0.668);
}

#deal:hover{
    background-color: rgba(118, 118, 118, 0.411);
}